<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Farmeto</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  <link rel="stylesheet" href="/stylesheets/buyer/signup.css"/>
</head>
<body>
  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-back">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Sign Up</h4>
                      <form id="signup-form" action="signup" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                          <input type="text" name="name" class="form-style" placeholder="Your Full Name" id="name" autocomplete="off" required>
                          <i class="input-icon uil uil-user"></i>
                        </div>
                        <div class="form-group mt-2">
                          <input type="email" name="email" class="form-style" placeholder="Your Email" id="email" autocomplete="off" required>
                          <i class="input-icon uil uil-at"></i>
                          <% if (emailExist) { %>
                            <p class="text-white">Email Already exist</p>
                          <% } %>
                        </div>
                        <div class="form-group mt-2">
                          <input type="tel" name="contactNumber" class="form-style" placeholder="Contact Number" id="contactNumber" autocomplete="off" required>
                          <i class="input-icon uil uil-phone"></i>
                        </div>
                        <div class="form-group mt-2">
                          <select name="district" class="form-style">
                            <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                            <option value="Kollam">Kollam</option>
                            <option value="Alappuzha">Alappuzha</option>
                            <option value="Pathanamthitta">Pathanamthitta</option>
                            <option value="Kottayam">Kottayam</option>
                            <option value="Idukki">Idukki</option>
                            <option value="Ernakulam">Ernakulam</option>
                            <option value="Thrissur">Thrissur</option>
                            <option value="Palakkad">Palakkad</option>
                            <option value="Malappuram">Malappuram</option>
                            <option value="Kozhikode">Kozhikode</option>
                            <option value="Wayanad">Wayanad</option>
                            <option value="Kannur">Kannur</option>
                            <option value="Kasaragod">Kasaragod</option>
                          </select>
                        </div>
                        <div class="form-group mt-2">
                          <input type="text" name="pincode" class="form-style" placeholder="Pincode" id="pincode" autocomplete="off" required>
                        </div>
                        <div class="form-group mt-2">
                          <input type="text" name="village" class="form-style" placeholder="Village" id="village" autocomplete="off" required>
                        </div>
                        <div class="form-group mt-2">
                          <input type="text" name="street" class="form-style" placeholder="Street Name" id="street" autocomplete="off" required>
                        </div>
                        <div class="form-group mt-2">
                          <input type="text" name="houseNo" class="form-style" placeholder="House Number" id="houseNo" autocomplete="off" required>
                        </div>
                        <div class="form-group mt-2">
                          <input type="url" name="location" class="form-style" placeholder="Location link" id="location" autocomplete="off" required>
                        </div>
                      
                        <div class="form-group mt-2">
                          <input type="password" name="password" class="form-style" placeholder="Your Password" id="password" autocomplete="off" required>
                          <i class="input-icon uil uil-lock-alt"></i>
                          <% if (wrongPassword) { %>
                            <p class="text-white">Wrong Password</p>
                          <% } %>
                        </div>
                        <div class="form-group mt-2">
                          <input type="password" name="confirm" class="form-style" placeholder="Confirm Password" id="confirmpassword" autocomplete="off" required>
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <div class="form-group mt-2">
                          <label for="Id-Proof" style="color: white;">Id-Proof</label>

                          <input type="file" name="file" class="form-style" id="Id-Proof" autocomplete="off" required>
                      </div>
                        <button type="submit" class="btn mt-4">Create account</button>
                      </form>
                      <p class="mt-3 sign-up-text">Already have an account? <a href="login" class="sign-up-link">Sign in</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
